


<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en-US">
    <head>

        <meta http-equiv="content-type" content="text/html charset=UTF-8" />
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />

        <title> ATIBAreport - {{route}} </title>

        <link rel="icon" href="{% static 'img/favicon.png' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/general_style.css' %}">

        <style>

            body {
                background-color: #3d3d5c;
                background-image:url(/static/img/ai_background1_grey.jpg);
                height: 100%;
                font-family: 'Arial', sans-serif;
                font-size: 9pt;
            }

        </style>
    </head>
    <body>

        {% if route == "REGISTER" or route == "LOGIN" %}

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <img src="{% static 'img/login_logo.png'%}" alt="ATIBA LOGO" style="width:200px;margin-top:3%">
                </div>
                <div class="container" style="background-color:rgba(255,255,255,0.7);width:500px;border:1px double rgba(255,255,255,0.7);border-radius:10px;padding:10px;">

                    <div class="row justify-content-center">
                        <h4>USER {{route}}</h4>
                    </div>
                    <div class="row justify-content-center" style="width:100%;">
                        <form method="POST" enctype="multipart/form-data">
                            {%csrf_token%}
                            {{form|crispy}}
                            <input class="btn btn-sm btn-info" type="submit" value="{{ route }}">
                        </form>
                    </div>

                </div>
            </div>

        {% elif route == "NO LICENSE" or route == "LICENSE EXPIRED" %}

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <img src="{% static 'img/login_logo.png'%}" alt="ATIBA LOGO" style="width:200px;margin-top:3%">
                </div>
                <div class="container" style="background-color:rgba(255,255,255,0.7);width:500px;border:1px double rgba(255,255,255,0.7);border-radius:10px;padding:10px;">

                    <div class="row justify-content-center">
                        <h4>{{route}}</h4>
                    </div>
                    <div class="row justify-content-center" style="width:100%;">
    <!--                    <form method="POST" enctype="multipart/form-data">-->
    <!--                        {%csrf_token%}-->
    <!--                        {{form|crispy}}-->
    <!--                        <input class="btn btn-sm btn-info" type="submit" value="{{ route }}">-->
    <!--                    </form>-->
                    </div>

                </div>
            </div>

        {% endif %}

        <script type="text/javascript" language="JavaScript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" language="JavaScript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" language="JavaScript" src="{% static 'js/general_style.js' %}"></script>
        <script type="text/javascript" language="JavaScript">

        </script>
    </body>

</html>

